.libutton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 7px;
  text-align: center;
  outline: none;
  text-decoration: none !important;
  color: #ffffff !important;
  width: 200px;
  height: 32px;
  border-radius: 16px;
  background-color: #0a66c2;
  font-family: "SF Pro Text", Helvetica, sans-serif;
  box-shadow: 1px 1px;
}
ul,
li {
  list-style: none;
}

.perfilImg {
  width: 135px;
  border-radius: 50%;
  background: black;
  padding: 1px;
}

.perfil .card-body {
  top: -100px;
  position: relative;
}

.text-center a {
  padding: 0 15px;
}
.text-center .btn {
  padding: 8px;
  margin: 5px 0;
  background-color: black;
}
